{% extends 'base.html' %}

{% block page_title %}{{ object.title }} | Django SNS{% endblock page_title %}

{% block content %}
<header class="border-bottom">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="fs-3 my-3">SNS</h1>
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">
            ログアウト
        </a>
    </div>
</header>
<main class="pt-4">
    <div class="container">
        <div class="mb-4">
            <a href="{% url 'list' %}" class="text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                一覧へ
            </a>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h4">{{ object.title }}</p>
                <div class="d-flex gap-3 mb-4">
                    <p class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <title>投稿者</title>
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {{ object.author }}
                    </p>
                    <p class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <title>投稿時間</title>
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        {{ object.posted_at }}
                    </p>
                </div>
                <p class="mb-4">{{ object.content }}</p>
                <div class="d-flex gap-3">
                    <a href="{% url 'good' object.pk %}" class="btn btn-primary">
                        いいね <span class="badge bg-light text-dark">{{ object.good }}</span>
                    </a>
                    <a href="{% url 'read' object.pk %}" class="btn btn-secondary">
                        既読 <span class="badge bg-light text-dark">{{ object.read }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
