{% extends 'base.html' %}

{% block page_title %}一覧 | Django SNS{% endblock page_title %}

{% block content %}
<header class="border-bottom">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="fs-3 my-3">SNS</h1>
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">
            ログアウト
        </a>
    </div>
</header>
<main class="pt-4">
    <div class="container">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="h4">Pythonを勉強しました</p>
                    <p class="m-0">投稿者：</p>
                </li>
                <li class="list-group-item">
                    <p class="h4">富士山に登りました</p>
                    <p class="m-0">投稿者：</p>
                </li>
                <li class="list-group-item">
                    <p class="h4">週末に飲み会やります</p>
                    <p class="m-0">投稿者：</p>
                </li>
                {% for object in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'detail' object.pk %}" class="text-reset text-decoration-none">
                        <p class="h4">{{ object.title }}</p>
                        <p class="m-0">投稿者：{{ object.author }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock content %}
